<!DOCTYPE html>
<html>
<head>
	<meta charset=utf-8 />
</head>
<body ng-app="app" ng-controller="HomeCtrl">
	<div class="row">
		<div class="col-sm-4 home_menu" id="home_friend">
			<h1 class="home_title">跟好友聊天</h3>
			<div id="home_friend_btn" ng-click="GoFriend()"></div>
		</div>
		<div class="col-sm-4 home_menu" id="home_streetview">
			<h1 class="home_title">逛街去</h3>
			<div id="home_streetview_btn" ng-click="GoStreetView()"></div>
		</div>
		<div class="col-sm-4 home_menu" id="home_gallery">
			<h1 class="home_title">欣賞照片</h3>
			<div id="home_gallery_btn" ng-click="GoGallery()"></div>
		</div>
	</div>
</body>
</html>